*.DS_Store
build/
resources/macos/love.app/*
resources/win32/love/*
resources/win64/love/*
resources/switch/*
CH-Clicker-Ideas-And-Stuff.txt

# Android Stuff
apktool.bat
*.jar
love_decoded
*.apk

!resources/switch/dependencies.txt
